<!DOCTYPE html>
<html>
  <head>
    <title>Monas Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
      <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Jost&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <script type="text/javascript" >
      window.hero_1_url= "<%= image_url('https://monas-burgers-dev.s3-us-west-1.amazonaws.com/hero/Hero1.png') %>";
      window.hero_4_url= "<%= image_url('https://monas-burgers-dev.s3-us-west-1.amazonaws.com/hero/steak-salad.jpg') %>";
      window.hero_6_url= "<%= image_url('https://monas-burgers-dev.s3-us-west-1.amazonaws.com/hero/Hero6.jpg') %>";
      window.hero_8_url= "<%= image_url('https://monas-burgers-dev.s3-us-west-1.amazonaws.com/hero/Hero8.jpg') %>";
      window.feature_1_url= "<%= image_url('https://monas-burgers-dev.s3-us-west-1.amazonaws.com/hero/Feature1.png') %>";
      window.mugshot = "<%= image_url('https://monas-burgers-dev.s3-us-west-1.amazonaws.com/hero/Owner.jpg') %>"

      const MonasData = {
        hero_1_url: "<%= image_url('https://monas-burgers-dev.s3-us-west-1.amazonaws.com/hero/Hero1.png') %>",
        hero_4_url: "<%= image_url('https://monas-burgers-dev.s3-us-west-1.amazonaws.com/hero/steak-salad.jpg') %>",
        hero_6_url: "<%= image_url('https://monas-burgers-dev.s3-us-west-1.amazonaws.com/hero/Hero6.jpg') %>",
        hero_8_url: "<%= image_url('https://monas-burgers-dev.s3-us-west-1.amazonaws.com/hero/Hero8.jpg') %>",
        mugshot: "<%= image_url('https://monas-burgers-dev.s3-us-west-1.amazonaws.com/hero/Owner.jpg') %>"
      }

      console.log("Saved image urls to window");
    </script>
    <%= javascript_include_tag 'application' %>

  <meta content="width=device-width, initial-scale=1" name="viewport" />
    <%if current_user %>
      <script>
        window.currentUser = {
          "id": "<%= current_user.id%>",
          "email": "<%= current_user.email%>",
          "name": "<%= current_user.name%>"
        };
      </script>
<%end%>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
